<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if is_post %}
            <title>{{ title }}</title>
        {% else %}
            <title>Marcel Müller - Web Developer</title>
        {% endif %}
    </head>
    <body>
        <div>
            {% if is_post %}
                {% include '_layouts/post.liquid' %}
            {% else %}
                <h1 class='title'>Marcel Müller - Web Developer</h1>
                <p class='aboutme'>
                    <span class="passion">I'm a passionate Web Developer.</span>
                    Working with modern tools I craft beautiful websites, and web applications.
                </p>
                <p>
                    I pride myself in being able to create websites that look great on the both
                    the desktop and mobile devices.
                </p>
                <p>
                    You can reach me at "neikos <at> neikos.email"
                </p>
                {{ content }}
            {% endif %}
        </div>
    </body>
</html>
